<h3>ADD A BOOK TO THE LIBRARY</h3>
<a href="/books/new">Add a new book to the library</a><br>


<h3>BOOK CATALOG</h3>
<a href='/book_catalog'>See all the books in the catalog</a><br>


<h3>LIBRARY CARD</h3>
<a href='/patrons/new'>Get your Library card </a><br>


<h3>SEE ALL PEOPLE WITH library CARD</h3>
<a href='/library_patrons'>View all the patrons</a>
