<h1>Fill out the form to get your library card!</h1>

<form action="/patron_info" method="post">

  <label for="name">Enter your name</label>
  <input type="text" name="name">

  <label for="phone">Enter your phone number</label>
  <input type="text" name="phone">

  <button type="submit">Get your Card!</button>
</form>

<a href="/"> Back to home</a>
